.landingpage {
  margin: 0 auto;
  background-color: white;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.right-side {
  padding: 15px;
  margin-top: 80px;
  width: 100%;
}

/* .left-side {
  background-color: white;
  width: 25%;
  box-shadow: 3px 0 1px -2px rgba(192, 191, 191, 0.349);
} */
.dashboard-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#root {
  background-color: rgba(237, 237, 237, 0.397);
}

/* DashBoard Logo */

.dashboardLogo {
  width: 150px;
}

.logo-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

/* Side Menu */

.Toolbar {
  background-color: white;
}

.MuiSvgIcon-root-60 {
  color: #fc7869;
}
.sideMenu-container {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 25px;
  height: 100vh;
}

.side-menu {
  height: 100vh;
  font-size: 2.5rem;
}

.side-menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.side-menu ul a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  color: black;
  padding: 5px 0;
}

.side-menu ul a:hover {
  background: #fc766a;
}

.side-menu ul a:hover {
  color: white;
}

/* Properties */

.properties-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.properties-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.property-card {
  display: flex;
  width: 25%;
  border: 1px black solid;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.buttons-container {
  display: flex;
}

.noteInfo {
  padding: 10px;
}

@media (max-width: 800px) {
  .properties-container {
    flex-direction: column;
  }
}

/* Top Bar */

.top-bar {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 2px -2px rgba(192, 191, 191, 0.589);
  background-color: rgba(252, 120, 105, 1);
  padding: 10px;
  order: 2;
  height: 200px;
}

.top-bar a button {
  background-color: white;
  border: none;
  color: black;
  margin-left: 10px;
  border-radius: 5px;
  padding: 8px;
}

/* Menu */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

.Header {
  /* max-width: 1200px;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1); */
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 100;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header .login-button-menu {
  padding: 8px 20px;
  font-size: 20px;
  border: none;
  background-color: white;
  border: 1px solid #fc766a;
  color: black;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header .login-button-menu:hover {
  background-color: #fc766a;
  color: white;
}

.Header .register-button-menu {
  padding: 8px 20px;
  font-size: 20px;
  border: none;
  background-color: #fc766a;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
  /* background: rgba(0,0,0, 0.8); */
  background: white;
  padding: 15px 0;
  backdrop-filter: blur(20px);
}

.HeaderGroup {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Header p {
  color: black;
}

.Header a:link {
  text-decoration: none;
}

.menu-options button {
  padding: 5px 10px;
  border: none;
  background-color: #fc766a;
  font-size: 2.1rem;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.menu-options button:hover {
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
  color: gray;
}

.menu-options p:hover {
  color: gray;
}

.menu-options p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.logo {
  width: 25%;
}

.logo img {
  width: 100%;
}
.menu-options {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.menu-options p {
  padding: 0.4em;
}

.menu-icon {
  display: none;
}

.toggle {
  display: block;
}

.narrow {
  display: none;
}

@media (max-width: 650px) {
  .narrow {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .icon-burger {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: block;
    /* background-color: #fc766a; */
    float: right;
    cursor: pointer;
    margin-right: 10px;
  }

  .responsive {
    display: none;
  }

  .logo {
    width: 45%;
  }
  .narrow-responsive {
    display: block;
    text-align: center;
    background: white;
    padding: 15px 0;
    opacity: 0.9;
  }
  .narrow-responsive p:hover {
    color: white;
    border-top: #050a27 solid 0.5px;
    border-bottom: #050a27 solid 0.5px;
    background-color: #fc766a;
  }
  .hide-menu {
    display: none;
  }

  .anchor-wrap {
    margin-bottom: 40px;
  }

}

/* Hero */
/* .Hero {
  /* display: flex;
  flex-direction: column;
  /* background: url("../images/wallpaper9.png"); */
  /* height: 920px; */ 
  /* min-height: 100vh;

 
} */
 

.intro-section {
	position: relative;
	min-height: 100vh;
  text-align: center;
}



.bg-stretch {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-section .bg-stretch {
	width: 100%;
    /* height: 100vh; */
    background-image: url("../images/wallpaper9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}

/* 
.HeroGroup {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 1px solid red;
} */

@media (max-width: 1023px) {
  .intro-section {
		padding-top: 50px;
	}

}

@media (max-width: 479px) {
  .intro-section {
		min-height: 60vw;
		padding-top: 40px;
  }
  
  .intro-section .slide-frame .text h1 {
    display:none;
  }

  .intro-section .slide-frame .text p {
    display:none;

  }
  
  .intro-section .slide-frame .text button {
    display:none;

  }
  .anchor-wrap {
    margin-bottom: -65px;
  }

  


}

.jumbo {
  width: 100%;
  height: 920px;
  background-size: contain;
  background-repeat: no-repeat;

  background-position: center;
}

.intro-section .bg-stretch p {
  font-size: 1.4vw;
}

.intro-section .bg-stretch h1 {
  margin: 0;
  color: black;
  font-size: 4vw;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}
/* 
@media (max-width: 1199px) {
  .intro-section .bg-stretch h1 {
    font-size: 5rem;
  }

  .intro-section .bg-stretch p {
    font-size: 1.2rem;
  }
}
.intro-section .bg-stretch p {
  color: black;
  font-size: vw;
  line-height: 1.5;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
} */

.intro-section .bg-stretch button {
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 9px 20px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero button:hover {
  background: #fc766a;
}

.Hero a:hover {
  background: white;
  color: black;
}



.bg-stretch .slide-frame {
  display: block;
}

.bg-stretch .slide-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    /* align-items: center; */

  
}

.bg-stretch .text {
  padding-top: 0;
  align-items: center;

}

@media (max-width: 650px) {
  .Hero .intro-section .bg-stretch {
    background: url("../images/wallpaper9_mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
    align-items: flex-start;

  }

  .bg-stretch .text {
    align-items: flex-start;
   
  }


  .Hero button {
    margin-top: 30px;
  }

  .bg-stretch .text h1 {
    font-size: 6vw;
  }

  .bg-stretch .text p {
    font-size: 2vw;
    padding-top: 10px;
  }

  svg {
    display: none;
  }
  .down-arrow {
    bottom: 0px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.down-arrow {
  display: flex;
  justify-content: center;
  bottom: 90px;
  width: 100%;
  position: relative;
}
.down-arrow:hover {
  background: none;
}
.Hero svg {
  position: relative;
  bottom: 30px;
}

.anchor {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 56px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  will-change: translate;
}

.anchor:hover span {
  -webkit-animation-duration: 4s;
  animation-duration: 5s;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  will-change: translate;
}

.anchor span {
  position: absolute;
  top: 24px;
  left: 16px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

/* ARROW */
.anchor span:before,
.anchor span:after {
  content: "";
  position: absolute;
  top: 4px;
  left: -3px;
  width: 18px;
  height: 2px;
  background: #fc766a;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.anchor span:after {
  left: auto;
  right: -3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.anchor-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
}

.anchor-wrap > span {
  font-size: 1.5rem;
}

.anchor-wrap > span {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.anchor-wrap {
  position: absolute;
  bottom: 29px;
  left: 0;
  width: 100%;
}

@media (max-width: 1023px) {

  .anchor {
		width: 50px;
		height: 50px;
	}

	.anchor span {
		top: 22px;
		left: 13px;
  }

}

@media (max-width: 767px) {
  .anchor {
		width: 35px;
		height: 35px;
  }
  
  .anchor span {
		top: 14px;
		left: 7px;
		width: 21px;
		height: 10px;
	}

	.anchor span:before,
	.anchor span:after {
		left: -1px;
		width: 14px;
  }
  
  .anchor span:after {
		left: auto;
		right: -1px;
	}





}



/*Body*/
.titleCenter {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

.titleCenter h1 {
  font-size: 4rem;
}

.titleCenter p {
  font-size: 2rem;
}

.sectionHome {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
}
.right img {
  width: 100%;
}

.textSection {
  text-align: center;
}

@media (max-width: 650px) {
  .titleCenter {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .sectionHome {
    display: flex;
    flex-direction: column;
  }
}

/* Card */

.Card {
  width: 300px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.Card:hover img {
  transform: translateY(-20px);
}

.Card img {
  position: absolute;
  top: 0;
  height: 110%;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card h3 {
  color: #3c3837;
  font-size: 30px;
  font-family: "Montserrat";
  margin: 20px 0 0 20px;
  width: 190px;
}

.Card p {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  align-self: end;
  margin: 0 0 20px 20px;
}

.Cards h2 {
  margin: 50px 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(104deg, #050a27 0%, #4a548c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CardGroup {
  /* margin: 50px 40px 100px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Add Tenant*/

.addTenant-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.tenantInfo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.tenant-info {
  border: 1px black solid;
  padding: 1rem;
  margin: 1rem;
  width: 40%;
}

.tenant-info form {
  display: flex;
  flex-direction: column;
}

.tenantCard-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tenantCard-top h1 {
  margin: 0.5rem;
}

.tenantCard-top input {
  margin: 0.5rem;
}

.inputInfo {
  width: 50%;
  flex-grow: 2;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.contract-container {
  margin: 0 auto;
  margin-top: 8rem;
}

.name-input {
  width: 95%;
}

.eN-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.name-input input {
  width: 100%;
}

.eN-input input {
  display: flex;
  flex-direction: row;
}

.tenantCard-bottom {
  width: 100%;
}

.tenantCard-bottom input {
  width: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid black;
  padding: 1rem;
}

.housing-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.housing-info .yes {
  margin: 0 1rem;
}

.start-end input:first-child {
  margin-right: 0.5rem;
}

@media (max-width: 960px) {
  .tenant-info {
    width: 100%;
  }
}

/* === LOG IN === */

.form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff2f1;
}

.form-container form {
  background-color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 500px;
  width: 50%;
  justify-content: center;
  border-radius: 20px;
}

.form-container .logo-login {
  display: flex;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 70%;
  
}

.form-container .logo-register {
  display: flex;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 60%;
  
}



.form-container .user-container {
  margin: 10px;
}

.form-container label {
  font-size: 1.4rem;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  outline: none;
  transition: 0.3s;
}

::placeholder {
  color: rgb(126, 126, 126);
}

.form__button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #fc766a;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}

.form__button:focus,
.form__button:hover {
  background-color: white;
  color: #fc766a;
}

input[type="text"] {
  font-family: "Montserrat";
  font-size: 15px;
}
input[type="password"] {
  font-family: "Montserrat";
  font-size: 15px;
}

button[type="submit"] {
  font-family: "Montserrat";
  font-size: 15px;
}

.form-container input {
  border: none;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: transparent;
  outline: none;
  background-color: white;
}

.login-p {
  text-align: center;
  /* padding-top: 8px; */
  font-family: "Montserrat";
  font-size: 0.8rem;
}

.no-account {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.no-account .register-button {
  border: none;
  /* margin: 0; */
  text-decoration: none;
  color: #fc766a;
  font-family: sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  left: 1px;
  top: -3.1px;
  background-color: white;
}

.input-form {
  padding-top: 5px;
}

@media (max-width: 411px) {
 .logo-login{
    width: 200px;
  }
}

/* REGISTER PRICING */

.register-pricing {
  height: 100vh;
}

/* REGISTER FORM */
.register-radio-container {
  /* padding-bottom: 20px; */
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
  align-items: center;
}

.register-radio-container .radio-p {
  font-family: "Montserrat";
  font-size: 1.2vw;
  padding: 10px;
}

/* PRICING */

.menu {
  border: 1px solid black;
}

/* Billing */

@media (max-width: 600px) {
  .Billing {
    display: flex;
    flex-direction: column;
  }
}

.MuiFormControl-root-29 {
  width: 100%;
}

.MuiFormControl-root-29 .MuiFormLabel-root-44 {
  font-size: 1.2rem;
}

.billingColumn1 {
  width: 40%;
}

/* Top Bar */

.flex-top-bar {
  display: flex;
  flex-direction: space-between;
  max-height: 50px;
}
.log-out {
  position: fixed;
  top: 8px;
  right: 0;
  z-index: 300;
}

/* Tenant Dashboard */
.tenant-dash {
  display: flex;
}

.tenant-dash .tenant-button div {
  margin: 20px;
  padding: 20px;
}

.dash-info {
  margin-left: 10px;
}

.dash-button span {
  font-size: 18px;
}

.right-side .tenant-dash .tenant-button div .outstanding {
  padding: 0px;
  margin: 0px;
}