.landingpage {
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
}

 .dashboard-container {
  display: flex;
  flex-direction: row;
}

.right-side {
  padding: 15px;
  margin-top: 40px;
  width: 80%;
}

#root {
  background-color: rgba(237, 237, 237, 0.397);
}

/* BashBoard Logo */

.dashboardLogo {
  max-width: 190px;
}

/* Side Menu */
.sideMenu-container {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  width: 15%;

  padding: 25px;
  height: 100vh;
}

.side-menu {
  background-color: white;
  font-size: 0.9em;
  width: 200px;
  margin-top: -55px;
  -webkit-box-shadow: 3px 0 1px -2px #888;
  box-shadow: 3px 0 1px -2px rgba(192, 191, 191, 0.349);
}

.side-menu ul a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.side-menu ul a li {
  color: black;
}

.side-menu ul a li:first-child {
  color: black;
  display: flex;
  justify-content: flex-start;
}
.side-menu ul a li:last-child {
  color: black;
  text-align: right;
  padding-bottom: 2px;
  margin-right: 15px;
}

.side-menu ul li {
  padding-top: 8px;
}

/* Properties */

.properties-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.properties-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.property-card {
  display: flex;
  width: 25%;
  border: 1px black solid;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.buttons-container {
  display: flex;
}

/* Top Bar */

.top-bar {
  box-shadow: 0 5px 2px -2px rgba(192, 191, 191, 0.589);
  background-color: rgba(252, 120, 105, 1);
  padding: 10px;
  margin-left: 189px;
}

.top-bar a button {
  background-color: white;
  border: none;
  color: black;
  margin-left: 10px;
  border-radius: 5px;
  padding: 8px;
}

/* Menu */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  background-color: white;
}

.Header {
  /* max-width: 1200px;
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 100;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1); */
  position: fixed;
	width: 100%;
	padding: 50px 0;
	z-index: 100;
	transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header .login-button-menu {
	padding: 8px 20px;
	font-size: 20px;
	border: none;
	background-color: #fc766a;
	color: white;
	font-weight: 700;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header .register-button-menu {
	padding: 8px 20px;
	font-size: 20px;
	border: none;
	background-color: white;
	border: 1px solid #fc766a;
	color: black;
	font-weight: 700;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
  /* background: rgba(0,0,0, 0.8); */
  background: white;
  padding: 15px 0;
  backdrop-filter: blur(20px);
}

.HeaderGroup {
  max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(5, auto);
	align-items: center;
	justify-items: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
}

.Header p {
  color: black;
}

.Header a:link {
  text-decoration: none;
}

.menu-options button {
  padding: 5px 10px;
  border: none;
  background-color: #fc766a;
  font-size: 2.1rem;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.menu-options button:hover {
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px);
  color: gray;
}

.menu-options p {
  color: black;
	font-weight: 700;
}
.menu-options p:hover {
  border-left: #fc766a solid;
  border-right: #fc766a solid;
}

.logo {
  width: 25%;
}

.logo img {
  width: 100%;
}
.menu-options {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.menu-options p {
  padding: 0.4em;
}

.menu-icon {
  display: none;
}

.toggle {
  display: block;
}

.narrow {
  display: none;
}



@media (max-width: 650px) {

  .Header {
    width: 100%;
    padding-top:0px;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }

  
  .narrow {
  max-width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-items: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
   
  }

  .HeaderGroup {
    display: flex;
 
  }
  
  .icon-burger {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-icon {
    display: block;
    float: right;
    cursor: pointer;
    padding-right: 100px;
  }

  .responsive {
    display: none;
  }

  .logo {
    width: 40%;
    display:block;
    margin: auto;
    margin-left: 180px;
    
  }
  .narrow-responsive {
    display: block;
    text-align: center;
    background: white;
    padding: 15px 0;
    opacity: 0.9;
  }
  .narrow-responsive p:hover {
    color: white;
    border-top: #050a27 solid 0.5px;
    border-bottom: #050a27 solid 0.5px;
    background-color: #fc766a;
  }
  .hide-menu {
    display: none;
  }
}

/* Hero */
.Hero {
	background: url("../images/wallpaper9.png");
	height: 920px;
	background-size: contain;
	background-repeat: no-repeat;

	background-position: center;
  position: relative;
}

.HeroGroup {
	margin: 0 auto;
	max-width: 500px;
	padding: 150px 50px;
	text-align: center;
}

.HeroGroup button:hover {
	background: white;
	transform: translateY(-3px);
	color: gray;
}

.Hero h1 {
	margin: 0;
	color: black;
	font-size: 60px;
	line-height: 1.2;
	opacity: 0;
	animation: HeroAnimation;
	animation-duration: 3s;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero p {
	/* color: rgba(255, 255, 255, 0.8); */
	color: black;

	font-size: 25px;
	line-height: 1.5;
	animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
	opacity: 0;
}

.Hero button {
	font-size: 17px;
	font-weight: 600;
	color: white;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.7);
	padding: 9px 20px;
	margin-top: 20px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 20px;
	transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero a:hover {
	background: white;
	color: black;
}

@media (max-width: 640px) {
	.HeroGroup {
    
    
  }
  
  .Hero {
    border: 1px solid red;
    
  }

	.Hero .HeroGroup h1 {
    padding-top: 60px;
    
    font-size: 40px;
	}

	.Hero .HeroGroup p {
    padding-top: 30px;
		font-size: 23px;
	}
}

@keyframes HeroAnimation {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.Hero svg {
	position: absolute;
	bottom: 0;
	left: 0;
}

@media (max-width: 650px) {
  .Hero {
  }
  .HeroGroup {
    padding-top: 100px;
  }

  .Hero h1 {
    font-size: 40px;
  }

  .Hero p {
    font-size: 2.4rem;
  }

  svg {
    display: none;
  }
  .down-arrow {
    bottom: 0px;
  }
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


.anchor {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 56px;
	height: 56px;
	background: black;
	border-radius: 50%;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	will-change: translate;
}

.anchor:hover span {
	-webkit-animation-duration: 4s;
	animation-duration: 5s;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	will-change: translate;
}

.anchor span {
	position: absolute;
	top: 24px;
	left: 16px;
	width: 24px;
	height: 12px;
	overflow: hidden;
}

.anchor span:before,
.anchor span:after {
	content: "";
	position: absolute;
	top: 4px;
	left: -3px;
	width: 18px;
	height: 2px;
	background: white;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.anchor span:after {
	left: auto;
	right: -3px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.anchor-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
}

.anchor-wrap > span {
  font-size: 1.5rem;
}

.anchor-wrap > span {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.anchor-wrap {
	position: absolute;
	bottom: 29px;
	left: 0;
	width: 100%;
}

@media (max-width: 650px) {
  .anchor {
    bottom: 0px;
  }
}

/*Body*/
.titleCenter {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
}

.titleCenter h1 {
  font-size: 4rem;
}

.titleCenter p {
  font-size: 2rem;
}

.sectionHome {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.left {
  width: 50%;
}
.right {
  width: 50%;
}
.right img {
  width: 100%;
}

.textSection {
  text-align: center;
}

@media (max-width: 650px) {
  .titleCenter {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .sectionHome {
    display: flex;
    flex-direction: column;
  }
}

/* Card */

.Card {
  width: 300px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.Card:hover img {
  transform: translateY(-20px);
}

.Card img {
  position: absolute;
  top: 0;
  height: 110%;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card h3 {
  color: #3c3837;
  font-size: 30px;
  font-family: "Montserrat";
  margin: 20px 0 0 20px;
  width: 190px;
}

.Card p {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  align-self: end;
  margin: 0 0 20px 20px;
}

.Cards h2 {
  margin: 50px 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(104deg, #050a27 0%, #4a548c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CardGroup {
  /* margin: 50px 40px 100px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Add Tenant*/

.addTenant-container {
  display: flex;
  flex-direction: column;
}

.top-container {
  display: flex;
  flex-direction: row;
}

/* === LOG IN === */

.form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff2f1;
}

.form-container form {
  background-color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 500px;
  width: 50%;
  justify-content: center;
  border-radius: 20px;
}

.form-container .logo-login {
  height: 100px;
}

.form-container .user-container {
  margin: 10px;
}

.form-container label {
  font-size: 1.4rem;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
  outline: none;
  transition: 0.3s;
}

::placeholder {
  color: rgb(126, 126, 126);
}

.form__button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #fc766a;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}

.form__button:focus,
.form__button:hover {
  background-color: white;
  color: #fc766a;
}

input[type="text"] {
  font-family: "Montserrat";
  font-size: 15px;
}
input[type="password"] {
  font-family: "Montserrat";
  font-size: 15px;
}

button[type="submit"] {
  font-family: "Montserrat";
  font-size: 15px;
}

.form-container input {
  border: none;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  background-color: transparent;
  outline: none;
  background-color: white;
}

.login-p {
  text-align: center;
  /* padding-top: 8px; */
  font-family: "Montserrat";
  font-size: 1rem;
}

.no-account {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.no-account .register-button {
  border: none;
  /* margin: 0; */
  text-decoration: none;
  color: #fc766a;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  left: 1px;
  top: -3.1px;
  background-color: white;

}

/* REGISTER PRICING */

.register-pricing {
  border: 1px solid red;
  height: 100vh;
}

/* REGISTER FORM */
.register-radio-container {
  padding-bottom: 20px;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.register-radio-container .radio-p {
  font-family: "Montserrat";
  font-size: 1.5rem;
}

/* PRICING */

.menu {
  border: 1px solid black;
}
