

.test {
    display: flex;
    width: 90%;
    height: 100px;
    border: 1px black solid;
    
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between;
}

.form-card {
    display: flex;
}

.checkoutinput{
    width: 75%;
    align-self: center;
    font-family: roboto;
}
.test2 {
    
    width: 50%;
    height: 150px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.button {
  align-self: center;
  width: 25%;
}