

.test {
    display: flex;
    width: 90%;
    height: 100px;
    border: 1px black solid;
    
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between;
}

.form-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkoutinput{
    width: 75%;
    align-self: center;
    font-family: roboto;
}
.checkoutform {
    
    width: 75%;
    height: 150px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    
}

.button {
  align-self: center;
  width: 25%;
}

.payment-container {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

