

.test {
    display: flex;
    width: 90%;
    height: 100px;
    border: 1px black solid;
    
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between;
}

.form-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkoutinput{
    width: 75%;
    align-self: center;
    font-family: roboto;
}
.checkoutform {
    
    width: 75%;
    height: 150px;
    justify-content: space-around;
}


.workorderform {
    display: flex;
    width: 500px;
    margin: 0 auto;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .workorderform {
        display: flex;
        width: 90%;
        margin: 0 auto;
        height: 1000px;
        align-items: center;
    }
    .griditem {
        align-items: center;
        height: 1000px;
        justify-content: space-around;
        
    }

    .innerworkorderform {
        display: flex;
        align-items: center;
        height: 1000px;
    }
  }

.innerworkorderform {
    display: flex;
    align-items: center;
}

.griditem {
    align-items: center;
    
}



.carditems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.flexbuttons {
    display: flex;
    justify-content: space-around;
}

.cardfont {
    align: center;
}

.workcards {
    font-size: 13pt;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;

}

.payment-history {
    padding:20px;
    border:none;
}

.card-header div span {
    font-size: 25px;
    font-style: italic;
}

.form-card {
    padding-top: 20px;
}

.checkout-line {
    padding: 20px 0px 20px 0px;
}

.flex-component {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 745px) {
    .flex-cards {
        display:flex;
    }
    
}