.sideMenu-container {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  width: 15%;

  padding: 25px;
  height: 100vh;
}

.side-menu {
  font-size: 1.5em;
}

.side-menu ul li {
  padding-top: 8px;
}

.right-side {
  padding: 15px;
  margin-top: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.properties-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.property-card {
  display: flex;
  width: 25%;
  border: 1px black solid;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

.buttons-container {
  display: flex;
}
