.hero-image {
  background: url('./assets/images/condo.jpg') center / cover;
  height: 400px;
}

.MuiSvgIcon-root-79 {
  color:white;
}

.flex-cards {
  margin:0 200px;
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
}

.card-title {
  text-align: center;
  font-size: 30px;
  font-style:italic;
}

.titleCenter {
  text-align: center;
  color: darkslategrey;
  margin-top: 55px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
